{% extends "base.html" %}

{% block title %}Add album{% endblock %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Add new album</h1>
        <p class="lead text-muted">The album you create can be viewed by all users, but only you can edit</p>
        <a href="/" class="btn btn-secondary my-2">Back to home</a>
    </div>
</section>
<div class="container">
    <p class="text-warning">{{ error }}</p>
    <form action="/post/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="hidden" name="author" id="Author" value="{{ user.username }}" readonly required>
        </div>
        <div class="form-group">
            <label for="Album title">Album title:</label>
            <input class="form-control" type="text" name="title" id="Album title" maxlength="20" placeholder="Your title..." required>
        </div>
        <div class="form-group">
            <label for="Album description">Album description:</label>
            <textarea class="form-control" name="description" id="Album description" maxlength="150" placeholder="Your description..." required></textarea>
        </div>
        <button class="btn btn-lg btn-primary">Add</button>
    </form>
</div>
{% endblock %}